[Unit]
Description=Timer for Trading LongTerm Evening Decision

[Timer]
OnCalendar=Mon..Fri 20:30:00
Persistent=true
RandomizedDelaySec=15
Unit=trading-evening.service

[Install]
WantedBy=timers.target
